@font-face {
 font-family: FiraGO-Regular;
 src: url(./FiraGO-Regular)
}

body {
 width: 1440px;
 height: 1024px;
 background-color: #ffffff;
}


* {
 box-sizing: border-box;
}

.card {
 width: 1440px;
 height: 1024px;
 background: #FFFFFF;
 margin-left: 109px;

}

.tr1>th:nth-child(4) {
 text-align: center;
}

.searh {
 margin-top: 35px;
 margin-bottom: 30px;

 width: 148px;
 height: 24px;
 left: 109px;
 top: 35px;

 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 29px;

 color: #000000;

}

.table-1 {
 width: 1223px;
 left: 109px;
 top: 89px;
 border: 1px solid #EDEDED;
 border-spacing: 0px;
}

.tr1 {
 width: 1223px;
 height: 65px;
 background: #FFFFFF;
 border: 1px solid #EDEDED;
}

.tr2 {
 width: 1223px;
 height: 84px;
 top: 152px;
 background: #FAFAFA;
 border: 1px solid #EDEDED;
}

.tr2 input {

 height: 50px;
 padding-top: 17px;
 padding-bottom: 17px;
 background: #FFFFFF;
 border: 1px solid #ECECEC;
 border-radius: 10px;
}


.button1 {
 width: 141px;
 height: 50px;

 border: none;
 background: #FFDD04;
 border-radius: 10px;
 font-family: 'FiraGO';
 font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 18px;
 text-align: center;

 color: #000000;
}

::placeholder {
 padding-left: 24px;
 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;

 color: #E8E8E8;
}

.user {
 width: 106px;
 height: 24px;
 margin-left: 0 px;
 margin-top: -50px;
 margin-bottom: 29px;

 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 29px;

 color: #000000;
}

.button2 {

 width: 141px;
 height: 40px;
 margin-top: 64px;
 margin-left: 1080px;
 margin-bottom: 21px;
 border: none;

 background: #FFDD04;
 border-radius: 10px;

 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 18px;

 color: #000000;
}

th {
 padding: 15px;
 text-align: left;
 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;

 color: #000000;
}

td {
 padding: 15px;
 text-align: left;
 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;

 color: #000000;
}

.table-2 {
 width: 1223px;
 height: 65px;
 left: 109px;
 top: 89px;
 border: 1px solid #EDEDED;
 border-spacing: 0px;
 background: #FFFFFF;

}

.tr3 {
 width: 1223px;
 height: 65px;
 left: 109px;
 top: 361px;

 background: #FFFFFF;
 border: 1px solid #EDEDED;

}

.tr4 {
 width: 1223px;
 height: 65px;
 left: 109px;
 background-color: #FAFAFA;
 border: 1px solid #EDEDED;
}

.tr3>th:nth-child(1) {
 padding-left: 25px;
}

.tr3>th:nth-child(2) {
 padding-left: 25px;
}

.tr3>th:nth-child(3) {
 padding-left: 43px;
}

.tr3>th:nth-child(4) {
 padding-left: 49px;
}

.tr3>th:nth-child(5) {
 padding-left: 25px;
}



.tr4>td:nth-child(1) {
 padding-left: 25px;
}

.tr4>td:nth-child(2) {
 padding-left: 25px;
}

.tr4>td:nth-child(3) {
 padding-left: 43px;
}

.tr4>td:nth-child(4) {
 padding-left: 49px;
}

.tr4>td:nth-child(5) {
 padding-left: 25px;
}

.tr4>td:nth-child(6) {
 padding-left: 59px;
 padding-right: 0px;
}

.del {
 width: 93px;
 height: 33px;
 margin-right: 6px;
 background: #FF8271;
 border-radius: 10px;
 border: none;

 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 18px;

 color: #000000;
}


.edit {
 width: 93px;
 height: 33px;

 background: #FFDD04;
 border-radius: 10px;
 border: none;
 font-family: FiraGO-Regular;
 font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 18px;

 color: #000000;
}